<h1>Stupid Coaching</h1>
<form action="/answer">
  <div class="label">
    <label for="question">Ask a stupid question!</label>
  </div>
  <div class="container">
    <input class="text" type="text" name="question" id="question">
    <input class="button" type="submit" value="Ask!">
  </div>
</form>
